* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-size: 18px;
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  color: #0056b3;
}

/* =================TIMER============== */

.datetime-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#datetime-picker {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #555;
}

button[data-start],
button[data-stop] {
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: #007bff;
  color: #fff;
}

button[data-start]:hover,
button[data-stop]:hover {
  background-color: #0069d9;
}

button[data-start]:disabled,
button[data-stop]:disabled {
  background-color: #ccc;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  font-size: 35px;
  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  width: 80px;
}

.value {
  display: block;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
}

.label {
  text-transform: uppercase;
  font-size: 18px;
  color: #555;
}

/* =================PROMISES============== */

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 18px;
}

button[type='submit'] {
  width: 200px;
  padding: 10px 16px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
}

button[type='submit']:hover {
  background-color: #0069d9;
}

input:required {
  border-color: #da172b;
}

input:valid {
  border-color: #11a934;
}
